/* Definim culorile tale preferate */
:root {
  --emerald: #046307;      /* Verde smarald */
  --honey: #FFC107;        /* Galben miere */
  --cream: #FFFDE7;        /* Fundal crem pal */
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  background-color: var(--cream);
}

* {
  box-sizing: border-box;
}