
:root {
  --emerald: #046307;
  --emerald-rgb: 4, 99, 7;
  --honey: #FFC107;       
  --cream: #FFFDE7;        
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  background-color: var(--cream);
}

* {
  box-sizing: border-box;
}